/**
  * ==============================
  *         breakpoints
  * ==============================
  */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl
) !default;

$container-max-width: 1440px;

/**
  * ==============================
  *            colors
  * ==============================
  */
  $color-primary: #fff;
  $color-secondary: #fff;
  $color-tertiary: #fff;
  $color-text: #fff;
  $color-bg-primary: #fff;
  $color-bg-secondary: #fff;

  /**
  * ==============================
  *         typography
  * ==============================
  */

/**
  * ==============================
  *          shadows
  * ==============================
  */

/**
  * ==============================
  *          z-index
  * ==============================
  */

/**
  * ==============================
  *           other
  * ==============================
  */

